/* CSS Reset */
html {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1;
  }
  
  body {
    background-color: #FFF6F0;
    margin: 25px;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
  }
  /* unvisited link */
  a:link {
    color: #AB917E;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: #AB917E;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
    background-color: blueviolet;
    border: 1px black dashed;
  }
  
  h1 {
    color: #6DA6AB;
    font-style: italic;
  }
  h3 {
    color: #6DA6AB;
    font-style: italic;
  }
  /* CSS classes */
  .error {
    color: darkred;
    font-weight: bold;
  }
  
  /* CSS IDs */
  #page_title {
    color: #565d66;
    font-weight: bold;
    font-size: 3rem;
  }